*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}
.container{
  width: 100%;
}

.background-img{
  width: 100%;
  position: relative;
}

.background-img img{
  width: 100%;
}

/* ESTILOS FORMULARIO */

.form{
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  margin-top: -3em;
  border-radius: 3em 3em 0 0;
  padding: 2em;
}

.form form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.welcome{
  color: #7092a6;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.description{
  color: #7092a6;
  font-weight: 300;
  margin-bottom: 1em;
}

.form input{
  width: 80%;
  display: block;
  padding: 0.7em;
  border: none;
  border: 1px solid #7092a6;
  font-size: 0.9em;
  color: #7092a6;
  margin-bottom: 1em;
  border-radius: 3em;
}


.form button{
  width: 80%;
  padding: 0.7em;
  margin: 1em 0;
  cursor: pointer;
  border: none;
  background-color:#eabdad;
  border-radius: 3em;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.form .p-social-media{
  font-size: 1em;
  color: #7092a6;
}

.social-media{
  padding: 1em;
}
.social-media a{
  font-size: 1.2em;
  padding: 1em;
  border-radius: 1em;
}
.social-media .google{
  color: #d62d20;
}

/* VERSION ESCRITORIO  - TABLET*/
@media (min-width: 768px) {
  .container{
    display: flex;
   
  }
  .background-img{
    position: static;
    width: 70%;
    height: 100vh;
    overflow: hidden;
  }
  .background-img img{
    height: 100vh;
    overflow: hidden;
  }
 
  .form{
    width: 30%;
    position: static;
    margin-top: 0;
    border-radius: 0;
  }
  
}

